class <%= short_stack.camel_case %> < Pancake::Stacks::Short
  roots << ::File.expand_path(::File.join(Pancake.get_root(__FILE__), "<%= short_stack %>"))
end

require ::File.join(::File.expand_path(::File.dirname(__FILE__)), "<%= short_stack %>", "<%= short_stack %>")