- content_block :error do
  .error
    %h1
      Error:
      = error.class
    .description
      = error.respond_to?(:description) ? error.description : error.message

    %ul.backtrace
      - error.backtrace.each do |line|
        %li= line

